<h1><%= t ".help" %> </h1>
<p>
  <%= t ".help1" %> <a href="http://www.railstutorial.org/help">
  <%= t ".help2" %> </a>.
  <%= t ".help3" %> <a href="http://www.railstutorial.org/book">
  <%= t ".help4" %> </a>.
</p>
